# Python
*.pyc
*~
__pycache__

# Env
.env
myenv-django-tutorial/
venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotligt-V100

# Windows
Thumbs.db*
ethumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

#Visual Studio
.vscode/
.history/
*.code-workspace

